### reading from minio

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
            .appName('spark_minio') \
            .enableHiveSupport() \
            .getOrCreate()

spark

In [10]:
df = spark.read.csv("s3a://uploads/emp.csv")

In [ ]:
df.count()

In [ ]:
%%sql
show databases

In [ ]:
%%sql
CREATE DATABASE IF NOT EXISTS sb

In [11]:
df.writeTo("nyc.emp").using("iceberg").createOrReplace()

In [12]:
%%sql
select * from nyc.emp

+-----+---------+------+
| _c0 |     _c1 |  _c2 |
+-----+---------+------+
|   3 |   Pooja |  CRM |
|   4 |   Priya |  KTC |
|   1 | Pradeep | None |
|   2 |    Amit | None |
+-----+---------+------+

In [13]:
%%sql

    create view nyc.emp_view as 
    select _c0 as id, _c1 as name, _c2 as dept from nyc.emp

24/09/10 07:51:40 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.

++
||
++
++

In [14]:
%%sql

select * from nyc.emp_view

+----+---------+------+
| id |    name | dept |
+----+---------+------+
|  3 |   Pooja |  CRM |
|  4 |   Priya |  KTC |
|  1 | Pradeep | None |
|  2 |    Amit | None |
+----+---------+------+

In [ ]:
import logging
import os
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, LongType, DoubleType, StringType


spark = SparkSession.builder.getOrCreate()

def load_config(spark_context: SparkContext):
    # spark_context._jsc.hadoopConfiguration().set("fs.s3a.access.key", os.getenv("AWS_ACCESS_KEY_ID", "admin"))
    # spark_context._jsc.hadoopConfiguration().set("fs.s3a.secret.key", os.getenv("AWS_SECRET_ACCESS_KEY", "password"))
    # spark_context._jsc.hadoopConfiguration().set("fs.s3a.endpoint", os.getenv("ENDPOINT", "http://minio:9090"))
    # spark_context._jsc.hadoopConfiguration().set("fs.s3a.connection.ssl.enabled", "true")
    # spark_context._jsc.hadoopConfiguration().set("fs.s3a.path.style.access", "true")
    # spark_context._jsc.hadoopConfiguration().set("fs.s3a.attempts.maximum", "1")
    # spark_context._jsc.hadoopConfiguration().set("fs.s3a.connection.establish.timeout", "5000")
    # spark_context._jsc.hadoopConfiguration().set("fs.s3a.connection.timeout", "10000")
    spark_context._jsc.hadoopConfiguration().set("hive.metastore.warehouse.dir", "s3a://warehouse/wh/")
    # spark_context._jsc.hadoopConfiguration().set('spark.hadoop.fs.s3a.aws.credentials.provider','org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider')

load_config(spark.sparkContext)

In [ ]:
spark.conf.get("spark.sql.defaultCatalog")

### checking connection to hiveserver

In [ ]:
%%sql
show databases;

In [ ]:
%%sql
create database ipa;

In [ ]:
%%sql 
show databases